*{
    margin:0;
    padding:0;
    font-family: Arial;
    box-sizing: border-box;
}
body{
    background:#DAA7FF;
    display:flex;
    flex-direction: column;
}
/* ШАПКА */
.header{
    background: #9642d3;
    padding: 10px;
}
.nav{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    font-size: 48px;
    color: white;
    text-decoration: none;
}
.nav-btn{
    display: flex;
    gap: 10px;
}
/* СЛАЙДЕР */
.info_gallery{
    position: relative;
    width: 950px;
    height: 600px;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
    background:#ECD2FF;
    padding: 16px;
    box-shadow: 0px 0px 10px #c2c2c2, 0px 0px 10px #c2c2c2;
    z-index: 50;
}
.gallery img {
    display: block;
    margin: auto;
    width: 920px;
    height: 550px;
    border-radius: 20px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.gallery img.active {
    opacity: 1;
}
.dots {
    position: absolute;
    bottom: 10px;
    left: 420px;
}
.dot {
    height: 15px;
    width: 15px;
    margin: 0 8px;
    background-color:#d195ff;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.dot:hover{
    box-shadow: 0px 0px 10px #c2c2c2, 0px 0px 10px #c2c2c2;
}
.dot.active {
    background-color:#DAA7FF;
    box-shadow: 0px 0px 10px #c2c2c2, 0px 0px 10px #c2c2c2;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0,0,0,0.3);
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
/* Все кнопки */
.btn-sub, .btn-login, .btn-register, .btn-history, .btn-create, .btn-exit, .btn-admin{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    background-color: #ECD2FF;
    color: black;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.btn-login:hover, .btn-register:hover, .btn-history:hover, .btn-create:hover, .btn-exit:hover, .btn-admin:hover{
    background-color: #ddaffd;
    box-shadow: 0px 0px 10px #c2c2c2, 0px 0px 10px #c2c2c2;
}
.btn-sub{
    border:1px solid black;
    font-size: 22px;
    margin: auto;
    background: #DAA7FF;
    width: 80%;
    display: flex; 
    justify-content: center;
}
.btn-sub:hover{
    background:#d195ff;
    box-shadow: 0px 0px 10px #c2c2c2, 0px 0px 10px #c2c2c2;
}
/* АВТОРИЗАЦИЯ, РЕГИСТРАЦИЯ, СОЗДАНИЕ ЗАЯВОК - часть истории */
.container{
    background: white;
    border: 1px solid #c2c2c2;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #c2c2c2, 0px 0px 10px #c2c2c2;
    padding: 16px;
    margin: auto;
    margin-top: 50px;
    width: 400px;
}
.container h1, .applications h1{
    text-align: center;
    font-weight:normal;
    font-size: 36px;
    padding-bottom: 10px;
    margin-top: 10px;
}
label{
    font-size: 24px;
}
input, select{
    width: 100%;
    height: 40px;
    background: #ECD2FF;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}
.container a{
    color: #666;
    text-decoration: none;
    transition: all 0.5s ease;
}
.container a:hover{
    color:#9642d3;
}
/* ИСТОРИЯ И ПАНЕЛЬ АДМИНИСТРАТОРА */
.applications{
    padding: 16px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid black;
    border-radius: 20px;
    background:#ECD2FF;
}
.applications-card{
    padding: 16px;
    margin: auto;
    margin-top: 16px;
    border: 1px solid black;
    border-radius: 20px;
    background: white;
}
.applications h2{
    text-align: center;
    font-weight:normal;
    font-size: 30px;
    margin-bottom: 16px;
}
.applications label{
    font-size: 16px;
}
.applications input, .applications select{
    height: 30px;
    font-size: 16px;
}
.applications .btn-sub{
    font-size: 18px;
}
/* АДАПТАЦИЯ */
@media (max-width: 390px){
    .nav{
        display:block;
        text-align: center;
    }
    .nav-btn{
        justify-content: center;
    }
    .info_gallery{
        width: 350px;
        height: 270px;
    }
    .gallery img {
        width: 315px;
        height: 235px;
    }
    .dots {
        bottom:2px;
        left: 140px;
    }
    .dot {
        height: 10px;
        width: 10px;
        margin: 0 4px;
    }
    .container{
        width: 350px;
    }
    .applications{
        width: 350px;
    }
    .applications h2{
        font-size: 26px;
    }
    .applications h1{
        font-size: 32px;
    }
}